.main {
    /* margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background-color: rgb(224, 221, 233);
  }
.content{
    margin-left: 350px;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.carousel-item{
    max-width: 100%;
  height: auto;
}