
.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 5%;
    background-color: rgb(203,141,153);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #0a090c;
    display: block;
  }
  .sidenav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  150px;
    height: 150px;
}

  .sidenav a:hover {
    color: #f01414;
  }